Source: audioreach-graphmgr
Section: misc
Priority: optional
Maintainer: Radhika Garg <radhgarg@qti.qualcomm.com>
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13),
 libglib2.0-dev,
 pkg-config,
 audioreach-graphservices,
 audioreach-conf,
 libexpat1-dev,
 git,
 libssl-dev,
 ca-certificates,
 autotools-dev,
 libtinyalsa-dev
Standards-Version: 4.6.2


Package: audioreach-graphmgr
Architecture: arm64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Qualcomm audio graphservice

