Source: audioreach-graphmgr
Section: misc
Maintainer: Sairamreddy Bojja <sbojja@qti.qualcomm.com>
Build-Depends: debhelper-compat (= 13),
 libglib2.0-dev,
 pkgconf,
 audioreach-conf,
 libtinyalsa-dev,
 libtinycompress-dev,
 libexpat1-dev,
 libar-spfhdrs-dev,
 libar-gsl-dev,
 libar-acdb-dev,
 libar-osal-dev,
 libar-ats-dev,
 libar-gpr-dev,
 libar-util-dev
Standards-Version: 4.6.2
Homepage: https://github.com/Audioreach/audioreach-graphmgr
Vcs-Git: https://github.com/qualcomm-linux/pkg-audioreach-graphmgr
Vcs-Browser: https://github.com/qualcomm-linux/pkg-audioreach-graphmgr

Package: audioreach-graphmgr
Architecture: arm64
Section: libs
Depends: ${shlibs:Depends},
 ${misc:Depends},
 audioreach-conf,
 qcom-diag-router,
Description: AudioReach graph manager
 Provides AudioReach Graph Manager (AGM) and TinyALSA-based
 plugins for managing and controlling audio use case graphs
 via AudioReach graph services.

Package: audioreach-graphmgr-dev
Architecture: arm64
Description: AudioReach graphmgr - development files
 AudioReach graph manager
 Provides AudioReach Graph Manager (AGM) and TinyALSA-based
 plugins for managing and controlling audio use case graphs
 via AudioReach graph services.
 .
 This package contains library headers for the shared libraries shipped in the
 audioreach-graphmgr package.
Section: libdevel
Depends: audioreach-graphmgr (= ${binary:Version}), ${misc:Depends}

Package: audioreach-graphmgr-utils
Section: utils
Architecture: arm64
Depends:
 audioreach-graphmgr (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Description: AudioReach graphmgr - utils files
 AudioReach graph manager
 Provides AudioReach Graph Manager (AGM) and TinyALSA-based
 plugins for managing and controlling audio use case graphs
 via AudioReach graph services.
 .
 This package contains binary files shipped in the
 audioreach-graphmgr package.
