Source: audioreach-graphmgr
Section: misc
Maintainer: Sairamreddy Bojja <sbojja@qti.qualcomm.com>
Build-Depends:
 debhelper-compat (= 13),
 audioreach-kvh2xml-dev,
 audioreach-spf-dev,
 libaudioreach-acdb-dev,
 libaudioreach-ats-dev,
 libaudioreach-gpr-dev,
 libaudioreach-gsl-dev,
 libaudioreach-osal-dev,
 libaudioreach-util-dev,
 libexpat1-dev,
 libglib2.0-dev,
 libtinyalsa-dev,
 libtinycompress-dev,
 pkgconf,
Standards-Version: 4.6.2
Homepage: https://github.com/Audioreach/audioreach-graphmgr
Vcs-Git: https://github.com/qualcomm-linux/pkg-audioreach-graphmgr
Vcs-Browser: https://github.com/qualcomm-linux/pkg-audioreach-graphmgr

Package: libagm1
Architecture: arm64
Multi-Arch: same
Section: libs
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Recommends:
 audioreach-conf,
 qcom-diag-router,
Provides:
 audioreach-graphmgr,
Breaks:
 audioreach-graphmgr (<< 1.0.1-0qli+staging2~),
Replaces:
 audioreach-graphmgr (<< 1.0.1-0qli+staging2~),
Description: AudioReach graph manager
 Provides the AudioReach Graph Manager (AGM) core library for managing and
 controlling audio use case graphs via AudioReach graph services.

Package: libagm-dev
Architecture: arm64
Description: AudioReach graphmgr - development files
 Development files for the AudioReach Graph Manager core library.
 .
 This package contains the public AGM headers, linker symlink, and pkg-config
 metadata.
Section: libdevel
Depends:
 libagm1 (= ${binary:Version}),
 ${misc:Depends},
Provides:
 audioreach-graphmgr-dev,
Breaks:
 audioreach-graphmgr-dev (<< 1.0.1-0qli+staging2~),
Replaces:
 audioreach-graphmgr-dev (<< 1.0.1-0qli+staging2~),

Package: audioreach-graphmgr-utils
Section: utils
Architecture: arm64
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: AudioReach graphmgr - utils files
 AudioReach Graph Manager utility programs and test tools.
 .
 This package contains the AGM TinyALSA playback and capture test tools.
